<a href="{{ example.link }}">
    <div class="example">
        <div>
            <div style="display:flex; flex-direction:row; justify-content: space-between;">
                <p class="example-title">{{ example.title }}</p>
                <div class="example-tag-link">↗</div>
            </div>
        <p class="example-author">{{ example.author }}</p>
        <p class="example-publication">{{ example.publication }}{% if example.year %}, {{ example.year }}{% endif %}</p>
        </div>
        <!-- <div class="example-image">
            <img src="{{ example.image }}">
        </div> -->
        <div class="example-tag-wrapper">
            {% if example.broken-link == true%}
                <div class="example-tag example-tag-broken-link">broken link</div>
            {% endif %}
            {% for tag in example.tags %}
                <div class="example-tag">{{ tag }}</div>
            {% endfor %}
        </div>
    </div>
</a>